.app {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center;
    align-items: center; */
    justify-content: center;
    align-items: center;
    background-image: url("../Images/background.jpg");
    height: 100vh;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    box-sizing: border-box;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    gap: 100px;
    font-size: 30px;
}

* {
    font-family: "Ringbearer";
    color: #FECB66;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}